<!DOCTYPE html>
<html lang="en">

- var page = 'Advertise'

<head>
	- var pageTitle = page + ' | Digest of Homes'
	include includes/_head.pug
</head>

<body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4 logo">
					include includes/_logo.pug
				</div>
				<div class="col-xs-12 col-md-8">
					<nav class="navbar navbar-default">
				
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
				
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
							<ul class="nav navbar-nav">
								-var advertiseActive = 'active'
								include includes/_nav.pug
							</ul>
				
						</div>
					</nav>
				</div>
			</div>
		</div>
	</header>

	<div class="mainContent">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					h1 #{page}
					<p>The Digest of HOMES is a real estate information platform that brings agents, potential buyers and prospective sellers together. Whether you are looking for a home, trying to sell one or are looking for a reputable real estate professional, we can help.</p>

					<p>Feel free to search through our site for your dream home or to pin point a real estate industry expert. You can also skim through our latest editions' virtual magazines.</p>

					<p>To advertise in our next issue, please contact:</p>

					<p>Lisa Toler  = 352-572-6742</p>
				</div>
			</div>
		</div>
	</div>

	<footer>
	include includes/_footer.pug
	</footer>

	include includes/_scripts.pug

</body>

</html>